# Part1: Data scrapping and data cleaning

In [ ]:
import pandas as pd

### Getting URL of the page and reading it via Pandas

In [ ]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

In [ ]:
df.head()

In [17]:
import numpy as np

### Replacing cells without Borough information with NaN

In [18]:
df["Borough"].replace("Not assigned", np.nan, inplace= True)
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN               Not assigned
1         M2A               NaN               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Removing those rows

In [19]:
df.dropna(subset=["Borough"],axis=0, inplace= True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Resetting the index after dropping

In [20]:
df.reset_index(drop= True, inplace= True)
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Getting the number of rows

In [22]:
df.shape

(103, 3)

# Part 2: Using Geocoder package

### Trying with geopy library

In [32]:
from geopy.geocoders import Nominatim

### Library successfully installed

In [36]:
# initialize your variable to None
lat_lng_coords = None

postal_code= df["Postal Code"][0]
# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder('{}, Toronto, Ontario'.format(postal_code))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

TypeError: __init__() takes 1 positional argument but 2 were given

### Not successful

In [30]:
df["Latitude"][0]= latitude
df["Longitude"][0]= longitude

NameError: name 'latitude' is not defined

### Downloading the data from given link

In [37]:
path= r"C:\Users\Himanshu\Downloads\Geospatial_Coordinates.csv"

In [38]:
df_geo= pd.read_csv(path)

In [39]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Merging both dataframes

In [40]:
mergedf = df.merge(df_geo, on="Postal Code")

In [41]:
mergedf.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494